<configuration scan="true">

    <!-- This property determines which pattern to use, Json or Standard Text -->
    <property name="LOG_CONSOLE_TO_JSON" value="false"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <if condition='property("LOG_CONSOLE_TO_JSON").equals("true")'>
            <then>
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <pattern>
                            <pattern>{"log_datetime": "%date{ISO8601}","log_level": "%level","log_class":
                                "%logger","log_thread": "%thread","log_msg": "%message", "log_stacktrace": "%exception", "mdc_attributes": "%X"}
                            </pattern>
                        </pattern>
                    </providers>
                </encoder>
            </then>
            <else>
                <encoder>
                    <pattern>%d [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
                </encoder>
            </else>
        </if>
    </appender>
    <!-- Root log level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
